* {
    margin: 0;
    padding: 0;
    background-color: rgb(30,30,30);
    color:white;
}


QPushButton {
    border-radius: 20px;
    background-color: rgb(12,80,187);
    color: black;
}

QPushButton:hover {
    background-color: rgb(246,163,5);
}



QMenu {
font: 20px;
   }

QMenuBar{
  spacing: 15px;
  font: 20px;
}

QLineEdit,QTextEdit {
border: 0.5px solid white;
 border-radius: 8px;
 padding-left:3px;
height:20%;
     selection-background-color: darkgray;
 font: 17px;

 }

QToolBar{
spacing: 15px;
border: 0.2px solid white;

}


QMenuBar::item:selected, QMenu::item:selected{
background-color: rgb(87,87,87);
height: 70px;
}
