* {
    margin: 0;
    padding: 0;
    background-color: rgb(210,210,210);
    color:black;
selection-background-color: rgb(190,190,190);
}


QPushButton {
    border-radius: 20px;
    background-color: rgb(12,80,187);
    color: black;

}

QPushButton:hover {
background-color: rgb(190,190,190);
   }

QMenu {
font: 20px;
   }

QMenuBar{
  spacing: 15px;
  font: 20px;
}

QLineEdit,QTextEdit,QComboBox{
border: 0.5px solid black;
border-radius: 4px;
height:20%;
min-width: 5em;
font: 17px;
 }
QToolBar{
spacing: 15px;
border: 0.2px solid black;
}

QMenuBar::item:selected,QComboBox:hover,QMenu::item:selected{
background-color: rgb(190,190,190);
height: 70px;
}
