* {
    margin: 0;
    padding: 0;
    background-color: rgb(225,225,225);
    color:white;
selection-background-color: rgb(87,87,87);
}


QPushButton {
    border-radius: 20px;
    background-color: rgb(12,80,187);
    color: black;

}

QPushButton:hover {
    background-color: rgb(246,163,5);
}

QMenu {
font: 20px;
   }

QMenuBar{
  spacing: 15px;
  font: 20px;
}

QLineEdit,QTextEdit,QComboBox{
border: 0.5px solid white;
 border-radius: 4px;
height:20%;
min-width: 5em;
 font: 17px;
 }

QToolBar{
spacing: 15px;
border: 0.2px solid white;
}

QMenuBar::item:selected,QComboBox:hover,QMenu::item:selected{
background-color: rgb(87,87,87);
height: 70px;
}
